*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgba(117, 165, 255, 0.5); */
}
.container{
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto ;

}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    
    
}
.nav-logo img{
    width: 50px;
    height: 50px;

}

.nav-ul{ 
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 20px;
    position: relative;
    
     
}
.nav-ul li {
    color: #000;
    justify-content: center;
    
}
.nav-ul li :hover{
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    transition: 0.3s;
    
}
.nav-ul li a{
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    text-decoration: none;
 
    
    
    
}
/* Nav-btn-con */

.btn-con{
    display: flex;
    align-items:center;
}
.btn-con a{
    display: none;
    justify-content: right;
    text-decoration: none;
    margin-right:10px;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    
}
.btn-reg{
    background-color: rgb(92, 144, 239);
    cursor: pointer;
}
.btn-reg:hover{
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
.btn-login{
    background-color: rgb(252, 168, 42);
    cursor: pointer;
}
.btn-login:hover{
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}



/* info Header */

.info-con{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/S__440803330.jpg");
    object-fit: cover;
    border-radius: 20px;
    margin-top: 10px;
   

}
    

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    font-size: 15px;
 
}
.info h1{
    margin-bottom: 0.5rem;
}
.info-btn a{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 20px auto;
    padding: 0.5rem;
    width: 150px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;   
}
.info-btn a:hover{
    background-color: #000;
    color: #fff;
    transition: 0.3s;

}

/* Printer-con-info */

.printer-con{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    margin: 0 1rem;

}
.printer{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #888;
    margin: 1.5rem 0;
    height: 95%;

}

.printer:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.img-printer{
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin: 0 0; 
}




.printer-des{
    display: flex;
    flex-direction: column;
}

.printer-des p{
    margin: 1rem;
}

.printer-btn a{
    color: #fff;
    background-color: orange;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    margin: 1rem ;
}
.printer-btn a:hover{
    color: #fff;
    background-color: #000;
    transition: 0.3s;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;

   

}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0.5rem 0;
    color: #333;
    


}

/* Modal Container */

.modal-con{ 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.modal-bg{ 
    display: flex;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

/* Modal Registor */

.title-c{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.title-l{
    display: flex;
    background-color: orange;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    

}
.title-r{
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
 
}
.imgclose{
    display: flex;
    width: 50px;
    height: 50px;
    
}

.modal-reg {
    
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 600px;
    height: 750px;
    border-radius: 30px;
    z-index: 1;
}

.modal-reg .txt{
    width: 30rem;
    height: 2rem;
    margin: 1rem 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eef;
    padding: 0.5rem;
    
}

.btn-con-reg{
    display: flex;
    justify-content: right;
    
}

/* Modal-Reg-Button */

.btn-m input{
    margin: 1rem 0;
    margin-right: 0.5rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}
.btn-m input:hover{

    background-color: #000;
    color: #fff;
    transition: 0.3s;

}

/* Modal-Login */


.modal-login{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 600px;
    height: 350px;
    border-radius: 30px;
    z-index: 1;

}
.title-c-login{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.title-l-login {
    display: flex;
    background-color: orange;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem 0;
    cursor: pointer;
    

}
.title-r-login{
    display: flex;
    justify-content: right;
    cursor: pointer;
    

}
/* .imgclose{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

} */

.modal-login .txt{
    width: 30rem;
    height: 2rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #eef;
    display: flex;
    padding: 0.5rem;
    
}
.btn-m-login{
    display: flex;
    justify-content: right;
    margin: 1rem 0;
}
.btn-m-login a{
    display: flex;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000;
}
.btn-m-login a:hover{
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}


@media screen and (max-width:600px){
    .container{

    max-width: 380px;
    }


    /*hamberger-menu*/

.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .nav-ul-active{
    display: block !important;
  }


.info-con{
        justify-content: center;
        align-items: center;
  
        
    }
    .nav{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        

        
    }


    .nav-ul{
        display: none;

    }

    #nav-ul {
        width: 100%;
        justify-content: center;
        align-items: center;
        color: orange;
        /* background-color: aqua; */
    }
   
    .nav li {
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: #333 2px solid;
        transition: 0.3s;
        
        
    }
    
    .nav li:hover{
        border-bottom: orange 2px solid;
        background-color: #eee;
        
        
     }


    .nav li, a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0.5rem 0;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        
    }


    



    .info{
        width: 100%;

    }
    .printer-con{
        grid-template-columns: repeat(1,1fr);
        width: 95%;
        left: 0;
        
    }
    .printer-des{
        margin: 1.5rem;
        font-size: 20px;
        font-weight: bolder;

    }

    .printer:hover{
        transform: scale(1);
    }
    
}




