*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-bottom: 5rem;
    

}
.nav-l{
    color: #fff;
    justify-content: left;
    padding: 1rem;

}
.nav-c{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #eef; */
    padding: 0.5rem;
    
}

.search-box .SearchBox{

    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}


.search-icon p i{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #fff;
}

.nav-r{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
    

}
.nav-r{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: right;
    padding: 1rem;
}

.cart{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: right;
    padding: 1rem;
    position: relative;
    margin: 0 1rem;
    
}



/* cart-item-product */


.product-cart-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem 2rem;
    padding: 0 2rem;

}

.cart-item-con{
    display: none;
    flex-wrap: wrap;
    border-radius: 20px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    max-height: 500px;
    margin-top: 1rem;
    overflow: scroll;
    
}
.cart-item-con-bg{
    
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;

}

.cart-item-l{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}

.img-product-cart{
    display: block;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin: 1rem;
    border-radius: 10px;
    margin: 1rem;
    
}


.cart-item-des{
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 0 1rem;
    color: #000;
    width: 150px;
    font-size: 20px;
    width: 100%;

}
.cart-item-des, p{
    display: flex;
    justify-content: left;
    margin: 0 1rem;
    

}
#name-c{
    width: 100%;
    font-weight: bold;
}
#price-c{
    width: 100%;
    display: flex;
    justify-content: left;
    font-weight: lighter;
    color: red;
}
#thb-c{

    font-weight: lighter;
}



.cart-item-r{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    padding: 0 1.5rem;
    font-size: 30px;
    font-weight: bold;

}
.quantity, .del, .num, .plus{
    display: flex;
    margin-left: 2rem;

}
/* num-cart-item */



.num{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.del, .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
    width: 50px;
    height: 50px;

}
.total-con{

    display: flex ;
    width: 100%;
    height: 13vh;
    justify-content: right;
    align-items: right;
    font-size: 35px;
    z-index: 1;
    background-color: aquamarine;
    padding: 0.5rem;
    margin-top: 1rem;
    position: sticky;
    bottom: 0;

}


.total-product-cart{
    display: flex;
    justify-content: right;
    flex-direction: column;
    color: #000;
    
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;


}


.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 1rem;
    cursor: pointer;

}

.checkout:hover{
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    
}

/* cart-number-red */

.number-product{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: red ;
    top: -4px;
    right: -2px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    
    

}

/* product-item-con */

.product-con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    margin: 2rem 1.5rem;
    border-radius: 20px;
    column-gap: 1.5rem;
    width: 100%;
}

.product{
    display: block;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #ddd;
    padding: 2rem;
    border-radius: 20px;
    margin: 1rem auto;

}

/* .product:hover{
    transform: scale(1.05) ;
    transition: 0.3s;
    
    } */

.product-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    
}

.product-name{
    display: flex;
    margin: 1rem auto;
    font-size: 20px;
}
.product-desc{
    display:flex ;
    margin: 0.5rem;
}
.product-desc p{
    color: #999;
    max-height: 130px;
    overflow: scroll;
}

.product-sell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    font-size: 20px;
    margin: 2rem 0;

}
.product-price{
    color: red;
}

.product-btn{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1rem 0;
    bottom: 0;
    
}

.btn{
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    color: #007eff;
    border: 1px solid #007eff;
    background-color: #fff;
    margin: 0 0.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}


.btn:hover{
    
    background-color: #007eff;
    color: #fff;
    border-radius: 10px;
    transition: 0.2s;
    
}




